@tailwind base;
  @tailwind components;
  @tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'urbanist';
  src: url('@/../../../public/assets//fonts/urbanist.woff2');
}

@font-face {
  font-family: 'roboto';
  src: url('@/../../../public/assets//fonts/Roboto-Regular.ttf');
}